<%- include('partials/_header.ejs') %>

    <section class="py-2 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">API Documentation</h1>
                <p class="lead text-muted">The API is organized around REST. Our API has predictable resource-oriented
                    URLs, returns JSON-encoded responses, and uses standard HTTP response codes. This is 1 of the most
                    comprehensive Cyber Security Policies API available on the market.</p>
            </div>
            <p>
                <strong> Base URL </strong>: <code> /api/v1</code>
            </p>
        </div>
    </section>

    <%- include('partials/_footer.ejs') %>