<footer class="text-muted py-5">
    <div class="container">
        <p class="mb-1">Cyber Controls Automated &copy; 2021, a Web portal containing Cyber Security Conrols
            CRUD API Rest!</p>
    </div>
</footer>
</div>

<script src="./form-validation.js"></script>
</body>

</html>